kramank
{
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 1.48em;
}

shlok
{
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 1.16em;
}

field
{
	padding-left: 1em;
	font-weight: bold;
}

mahiti
{
	padding-left: 2em
}